body {
    font-family: "Raleway", sans-serif !important;
    background-color: #e68018;
  }
  .navbar {
    background-color: transparent !important;
  }
  .navbar-nav{
    background-color: transparent;
    text-align: center;
  }

.title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
  }

  #contacto {
    background-color: #e68018;
    
  }

  .btn {
    background-color: #9b51e0;
    text-align: center;
    
  
    
  }

  