body {
    font-family: "Raleway", sans-serif !important;
    background-color: white;
  }
  .navbar {
    background-color: transparent !important;
  }
  .navbar-nav{
    background-color: transparent;
    text-align: center;
  }

.title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
  }