body {
    font-family: "Raleway", sans-serif !important;
    background-color: white;
  }
  .navbar {
    background-color: transparent !important;
  }
  .navbar-nav{
    background-color: transparent;
    text-align: center;
  }


  